<%= link_to categories_path do %>
<%= image_tag("logo.png", class: "menu-icon") %>
<%end%>
  <h1 class="reality-checker">Reality-Checker!</h1>
  <h2 class="category-title">Categories:</h2>
  <% @categories.each do |category| %>
  <% if current_user.admin? %>


  <div class="category_header col-sm-12 col-md-4 col-lg-12">
    <ol class="categories col-sm-12 col-md-4 col-lg-12">
      <div class='animated slideInLeft'><%= link_to category.title, category %> |
      <%=link_to "delete", category_path(category), method: :delete, data: { confirm: "You sure?" }%></div>
    </ol>
  </div>
  <%else%>
  <div class="category_header">
    <ul class="categories col-sm-12 col-md-4 col-lg-12">

      <div class='animated slideInLeft categories'><%= link_to category.title, category %></li>
    </ul>
    <%end%>
  </div>
<%end%>
