<div class="category-details">
  <h1><%= @category.title %></h1>
  <h2><%= @category.title %>'s email scheduler!</h2><p><%= link_to "Timer", timer_path %></p>
  <div class="game-description">
    <h3>Description: <%= @category.description %></h3>
  </div>
</div>

<div id="react" data-currentuser='<%= current_user.to_json %>' />
