<div class="category-details">
  <div class="description">
    <h1 class="title"><%= @category.title %></h1>
    <h3 class= "title">Description: <%= @category.description %></h3>
  </div>
<%= link_to categories_path do %>
<%= image_tag("logo.png", class: "menu-icon") %>
<% end %>
<p class="border"> Scroll Down to Interact With Realities! </p>

<div id="react" class="" data-currentuser='<%= current_user.to_json %>' />
