<div class="category-details">
  <h1><%= @category.title %></h1>
  <h2><%= @category.title %>'s email scheduler!</h2>
  <% if @category.timers === [] %>
  <p><%= link_to "Timer new", new_category_timer_path(@category) %></p>
  <% else %>
  <p><%= link_to "Timer", category_timer_path(@category) %></p>
  <% end %>
  <div class="game-description">
    <h3>Description: <%= @category.description %></h3>
  </div>
</div>

<div id="react" data-currentuser='<%= current_user.to_json %>' />
